
# Ignore compiled ChiaLisp files
*.clvm.hex
*.clsp.hex

# Ignore DB files
*.db

# Ignore python cache
__pycache__/

# Ignore ChiaLisp build artifacts
/build/

# Ignore ChiaLisp dependencies
/venv/*

# Ignore ChiaLisp logs
/logs/

# Ignore ChiaLisp temporary files
/tmp/

/.pytest_cache/
/PiedraPapelTijeras/venv/
main.sym
chialisp.json
.vscode/launch.json
/npm_modules/
/node_modules/
PiedraPapelTijeras/Driver.py
