<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia Rock Paper & Scissors Game</title>
    <link rel="icon" href="/static/images/logo_150x150.jpg" type="image/jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.dark.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo_150x150.jpg" height="20" alt="Chia RPS Game" loading="lazy" />
                    Chia RPS Game
                </a>
                <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link" href="/openGames">Active Games</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/historyGames">History Games</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">About</a>
                        </li>

                    </ul>
                </div>
                <div class="dropdown">
                    <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                        id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                        <img src="/static/images/ProfilePictureNotLoged.jpg" id="ProfilePicture" class="rounded-circle" height="25"
                             loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar" id="UserUI">
                        <li>
                            <a class="dropdown-item"  >Login</a>
                        </li>
                       
                    </ul>
                </div>

            </div>
        </nav>

    </header>
    <main class="container mt-4" style="margin-top: 10px !important;">
        <div class="container my-5" style="margin-top: -6px !important;">
            <div class="row">
                <div class="col-md-8">
                    <div class="wallet-container text-center wallet-info">
                        <img src="/static/images/OpenGameThumbnail.jpg" class="img-fluid" alt="Open Game" style="width: 100px;">
                        <p></p>
                        <div class="wallet-balance  ">
                            <h2><p id="coinAmount">----</p></h2>
                        </div>
                        <div class="openGame-info">
                            <p class="text-center" style="margin-bottom: 0px;">Status</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="gameStatus">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Coin Date</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="coinDate">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Game Coins</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="gameCoins">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Coin Status</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="coinStatus">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Coin Game Stage</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="coinStage">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Coin ID</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="coinID">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Puzzle Hash WP1:</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important; font-size: 11px;" id="puzzleHashPlayer1">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Compromise P1:</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important; font-size: 11px;" id="compromisePlayer1">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Puzzle Hash WP2:</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important; font-size: 11px;" id="puzzleHashPlayer2">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Hidden selection P2:</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important; font-size: 11px;" id="selectionPlayer2">----</p>
                            <p style="margin-bottom: 0px;">Game Puzzle Hash:</p>
                            <p id="gamePuzzleHash" style="overflow-x: auto;margin-top: -6px !important;">----</p>
                        </div>
                    </div>
                    <br>
                    <div id="ClaimGameContainer" style="text-align: center; border-style: solid; padding: 10px; display: none;">
                        <h3>Claim Game when Player 1 did not reveal in 24 hours</h3>
                        <div class="form-group">
                            <label for="feeSpendbundleClaim">Calculated Fee for 60 seconds:</label>
                            <input type="number" class="form-control" id="feeSpendbundleClaim"  value="0" min="0.000000000001" step="0.000000000001">
                        </div>
                        <div class="form-group">
                            <label for="amountreceiveSpendbundleClaim">You will receive:</label>
                            <p id="amountreceiveSpendbundleClaim">----</p>
                        </div>
                        <div class="form-group position-relative">
                            <label class="customLabel">Sign the message to add the spendbundle</label>
                            <p>You are signing:</p>
                            <p style="overflow-x: auto;margin-top: -20px !important;">actionRetire(3)+fee+puzzleHashWP1+CoinId+GenesisChallenge</p>
                            <pre class="precustom"><code id="cmdSingByDIDClaim" >chia rpc wallet sign_message_by_id '{"id":"<span id="didCmdSingatureClaim"></span>","message":"<span id="didCmdMessageSingatureClaim"></span>","is_hex":"True","safe_mode":"False"}'</code>
                            </pre>
                            <button type="button" class="btn position-absolute copy-btn" style="top: 74px; "
                                onclick="Utils.copyToClipboard('#cmdSingByDIDClaim')">
                                <i class="fas fa-copy"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="signatureSpendbundleClaim">Signature:</label>
                            <input type="text" class="form-control" id="signatureSpendbundleClaim" placeholder="Enter the signature">
                        </div>
                        <br>
                        <button  class="btn btn-primary btn-lg" onclick="claimGame()">
                            <i class="fas fa-money-bill"></i> Claim Game
                        </button>
                    </div>
                    <div id="CloseGameContainer" style="text-align: center; border-style: solid; padding: 10px; display: none;">
                        <h3>Close Game</h3>
                        <div class="form-group">
                            <label for="feeSpendbundle">Calculated Fee for 60 seconds:</label>
                            <input type="number" class="form-control" id="feeSpendbundle"  value="0" min="0.000000000001" step="0.000000000001">
                        </div>
                        <div class="form-group">
                            <label for="amountreceiveSpendbundle">You will receive:</label>
                            <p id="amountreceiveSpendbundle">----</p>
                        </div>
                        <div class="form-group position-relative">
                            <label class="customLabel">Sign the message to add the spendbundle</label>
                            <p>You are signing:</p>
                            <p style="overflow-x: auto;margin-top: -20px !important;">actionRetire(3)+fee+puzzleHashWP1+CoinId+GenesisChallenge</p>
                            <pre class="precustom"><code id="cmdSingByDID" >chia rpc wallet sign_message_by_id '{"id":"<span id="didCmdSingature"></span>","message":"<span id="didCmdMessageSingature"></span>","is_hex":"True","safe_mode":"False"}'</code>
                            </pre>
                            <button type="button" class="btn position-absolute copy-btn" style="top: 74px; "
                                onclick="Utils.copyToClipboard('#cmdSingByDID')">
                                <i class="fas fa-copy"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="signatureSpendbundle">Signature:</label>
                            <input type="text" class="form-control" id="signatureSpendbundle" placeholder="Enter the signature">
                        </div>
                        <br>
                        <button  class="btn btn-primary btn-lg" onclick="closeGame()">
                            <i class="fas fa-money-bill"></i> Close Game
                        </button>
                    </div>
                    <div id="JoinGameContainer" style="text-align: center; border-style: solid; padding: 10px;display: none;">
                        <h3>Join Game</h3>
                        <div class="coin-select form-group">
                            <label for="coinIdSelect">Select a coin to Join Game:</label>
                            <select id="coinIdSelect" class="form-select coinIdSelect">
                                <option value="">Select a coin to Join game</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="feeSpendbundleJoin">Calculated Fee for 60 seconds:</label>
                            <input type="number" class="form-control" id="feeSpendbundleJoin"  value="0" min="0.000000000001" step="0.000000000001">
                        </div>
                        <div class="form-group">
                            <label for="betAmount">Bet Amount:</label>
                            <p id="gameAmount">----</p>
                        </div>
                        <div class="form-group">
                            <label for="amountChangeCoin">Change to Wallet Coin:</label>
                            <p id="amountChangeCoin">----</p>
                        </div>
                        <div class="form-group">
                            <label for="RPSSelect">Select 🪨 📄 or ✂️:</label>
                            <select id="RPSSelect" class="form-select">
                                <option value="">Choose your option</option>
                                <option value="1">🪨 Rock</option>
                                <option value="2">📄 Paper</option>
                                <option value="3">✂️ Scissors</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cashOutAddress">Cash Out Address:</label>
                            <input type="text" class="form-control" id="cashOutAddress"   >
                        </div>
                        <div class="form-group position-relative">
                            <label class="customLabel">Sign the message to add the spendbundle</label>
                            <p>You are signing:</p>
                            <p style="overflow-x: auto;margin-top: -20px !important;">actionJoinP2(2)+betAmount+fee+OpenGameHash+selection+walletPlayerHash+playerOracleHash+CoinId+GenesisChallenge</p>
                            <pre class="precustom"><code id="cmdSingByDIDJoin" >chia rpc wallet sign_message_by_id '{"id":"<span id="didCmdSingatureJoin"></span>","message":"<span id="didCmdMessageSingatureJoin"></span>","is_hex":"True","safe_mode":"False"}'</code>
                            </pre>
                            <button type="button" class="btn position-absolute copy-btn" style="top: 74px; "
                                onclick="Utils.copyToClipboard('#cmdSingByDIDJoin')">
                                <i class="fas fa-copy"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="signatureSpendbundleJoin">Signature:</label>
                            <input type="text" class="form-control" id="signatureSpendbundleJoin" placeholder="Enter the signature">
                        </div>
                        <br>
                        <button  class="btn btn-primary btn-lg" onclick="joinPlayer2()">
                            <i class="fas fa-money-bill"></i> Join Game
                        </button>
                    </div>
                    
                    <div id="RevealGameContainer" style="text-align: center; border-style: solid; padding: 10px;display: none;">
                        <h3>Reveal Selection</h3>
                        <div class="form-group">
                            <label for="RPSSelectReveal">Select 🪨 📄 or ✂️:</label>
                            <select id="RPSSelectReveal" class="form-select">
                                <option value="">Choose your option</option>
                                <option value="1">🪨 Rock</option>
                                <option value="2">📄 Paper</option>
                                <option value="3">✂️ Scissors</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="keyRPSReveal" title="">Set your key used in the game:</label>
                            <input type="text" class="form-control" id="keyRPSReveal" placeholder="Enter your key.. ex: MiKeySecure">
                        </div>
                        <div class="form-group">
                            <label for="selectionRPSHashReveal">Selection Hash:</label>
                            <p id="selectionRPSHashReveal">----</p>
                        </div>
                        <div class="form-group position-relative">
                            <label class="customLabel">Sign the message to add the spendbundle for reveal</label>
                            <p>You are signing:</p>
                            <p style="overflow-x: auto;margin-top: -20px !important;">actionReveal(4)+selectionPlayer1+secretKeyPlayer1+CoinId+GenesisChallenge</p>
                            <pre class="precustom"><code id="cmdSingByDIDReveal" >chia rpc wallet sign_message_by_id '{"id":"<span id="didCmdSingatureReveal"></span>","message":"<span id="didCmdMessageSingatureReveal"></span>","is_hex":"True","safe_mode":"False"}'</code>
                            </pre>
                            <button type="button" class="btn position-absolute copy-btn" style="top: 74px; "
                                onclick="Utils.copyToClipboard('#cmdSingByDIDReveal')">
                                <i class="fas fa-copy"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="signatureSpendbundleReveal">Signature for Reveal:</label>
                            <input type="text" class="form-control" id="signatureSpendbundleReveal" placeholder="Enter the signature">
                        </div>
                        <br>
                        <br>
                        <div class="coin-select form-group">
                            <label for="coinIdSelectReveal">Select a coin for fee(optional):</label>
                            <select id="coinIdSelectReveal" class="form-select coinIdSelect">
                                <option value="">Select a coin for fee</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="feeSpendbundleReveal">Calculated Fee for 60 seconds:</label>
                            <input type="number" class="form-control" id="feeSpendbundleReveal"  value="0" min="0.000000000001" step="0.000000000001">
                        </div>
                        <div class="form-group">
                            <label for="amountChangeCoinReveal">Change to Wallet Coin:</label>
                            <p id="amountChangeCoinReveal">----</p>
                        </div>
                        <div class="form-group position-relative">
                            <label class="customLabel">Sign the message to add the spendbundle for fee</label>
                            <p>You are signing:</p>
                            <p style="overflow-x: auto;margin-top: -20px !important;">actionSetFee(3)+Fee+coinAmount+gameHash+coinHash+CoinId+GenesisChallenge</p>
                            <pre class="precustom"><code id="cmdSingByDIDFeeReveal" >chia rpc wallet sign_message_by_id '{"id":"<span id="didCmdSingatureFeeReveal"></span>","message":"<span id="didCmdMessageSingatureFeeReveal"></span>","is_hex":"True","safe_mode":"False"}'</code>
                            </pre>
                            <button type="button" class="btn position-absolute copy-btn" style="top: 74px; "
                                onclick="Utils.copyToClipboard('#cmdSingByDIDFeeReveal')">
                                <i class="fas fa-copy"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="signatureSpendbundleFeeReveal">Signature for Fee:</label>
                            <input type="text" class="form-control" id="signatureSpendbundleFeeReveal" placeholder="Enter the signature">
                        </div>
                        <br>
                        <button  class="btn btn-primary btn-lg" onclick="revealSelectionPlayer1()">
                            <i class="fas fa-money-bill"></i> Reveal Selection
                        </button>
                    </div>
                    <div class="form-group" style="position: relative;">
                        <h5 style="text-align: center;">Pending Transactions</h5>
                        <div class="row" id="pendingTransactions">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="game-info">
                        <p style="text-align: center;">Game Puzzle Reveal:</p>
                        <p>
                            <textarea style="min-height: 200px;" id="gamePuzzleReveal" class="form-control">----</textarea>
                        </p>
                        <p style="text-align: center;">Game Puzzle Reveal Disassembled:</p>
                        <p>
                            <textarea style="min-height: 200px;" id="gamePuzzleRevealDisassembled" class="form-control">----</textarea>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="/static/js/libs/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.umd.min.js"></script>
    <script src="https://unpkg.com/@walletconnect/sign-client@2.10.6/dist/index.umd.js"></script>
    <script src="https://unpkg.com/@walletconnect/types@2.0.0-beta.55/dist/umd/index.min.js"></script>
    <script src="https://unpkg.com/@walletconnect/utils@2.0.0-beta.55/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/static/js/Utils.js"></script>
    <script src="/static/js/ModalGeneric.js"></script>
    <script src="/static/js/ModalChiaWalletConnect.js"></script>
    <script src="/static/js/ChiaWalletConnect.js"></script>
    <script src="/static/js/Session.js"></script>
    <script src="/static/js/gameDetails.js"></script>
</body>

</html>