<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia Rock Paper & Scissors Game</title>
    <link rel="icon" href="/static/images/logo_150x150.jpg" type="image/jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.dark.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo_150x150.jpg" height="20" alt="Chia RPS Game" loading="lazy" />
                    Chia RPS Game
                </a>
                <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link" href="/openGames">Active Games</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/historyGames">History Games</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="https://github.com/jjldv/ChiaRPSGame" target="_blank">Git</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://mintgarden.io/collections/amlitoverse-col1aspdzsk7hulkem4xqylpr5c3yufnuts95svlqxqnm9qfzwfpy8wq5drdca" target="_blank">AmlitoVerse NFT</a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link" id="nodeStatus"></span>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                        id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                        <img src="/static/images/ProfilePictureNotLoged.jpg" id="ProfilePicture" class="rounded-circle" height="25"
                             loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar" id="UserUI">
                        <li>
                            <a class="dropdown-item"  >Login</a>
                        </li>
                       
                    </ul>
                </div>

            </div>
        </nav>

    </header>
    <main class="container mt-4" style="margin-top: 10px !important;">
        <div class="container my-5" style="margin-top: -6px !important;">
            <div class="row">
                <div class="col-md-8">
                    <div class="wallet-container text-center wallet-info">
                        <img src="/static/images/OpenGameThumbnail.jpg" class="img-fluid" alt="Open Game" style="width: 100px;">
                        <p></p>
                        <div class="wallet-balance  ">
                            <h2><p id="coinAmount">----</p></h2>
                        </div>
                        <div class="openGame-info">
                            <p class="text-center" style="margin-bottom: 0px;">Status</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="gameStatus">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Coin Date</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="coinDate">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Game Coins</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="gameCoins">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Coin Status</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="coinStatus">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Coin Game Stage</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="coinStage">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Coin ID</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important;" id="coinID">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Player 1:</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important; font-size: 11px;" id="publicKeyPlayer1">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Compromise P1:</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important; font-size: 11px;" id="compromisePlayer1">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Player 2:</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important; font-size: 11px;" id="publicKeyPlayer2">----</p>
                            <p class="text-center" style="margin-bottom: 0px;">Hidden selection P2:</p>
                            <p style="text-align: center; overflow-x: auto; margin-top: -6px !important; font-size: 11px;" id="selectionPlayer2">----</p>
                            <p style="margin-bottom: 0px;">Game Puzzle Hash:</p>
                            <p id="gamePuzzleHash" style="overflow-x: auto;margin-top: -6px !important;">----</p>
                        </div>
                    </div>
                    <br>
                    <div id="ClaimGameContainer" style="text-align: center; border-style: solid; padding: 10px; display: none;">
                        <h3>Claim Game when Player 1 did not reveal in 24 hours</h3>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="feeSelector">Network Fee (deducted from the game amount)</label>
                                <div id="feeClaimSelectorContainer"></div>
                                <input type="number" class="form-control" id="feeSpendbundleClaim" value="0" min="0.000000000001" step="0.000000000001" style="display: none;">

                            </div>
                        </div>
                        <br>
                        <button  class="btn btn-primary btn-lg" onclick="claimGame()">
                            <i class="fas fa-money-bill"></i> Claim Game
                        </button>
                    </div>
                    <div id="CloseGameContainer" style="text-align: center; border-style: solid; padding: 10px; display: none;">
                        <h3>Close Game</h3>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="feeSelector">Network Fee (deducted from the bet amount)</label>
                                <div id="feeSelectorContainer"></div>
                                <input type="number" class="form-control" id="feeSpendbundle" value="0" min="0.000000000001" step="0.000000000001" style="display: none;">

                            </div>
                        </div>
                        <br>
                        <button  class="btn btn-primary btn-lg" onclick="closeGame()">
                            <i class="fas fa-money-bill"></i> Close Game
                        </button>
                    </div>
                    <div id="JoinGameContainer" style="text-align: center; border-style: solid; padding: 10px; display: none;">
                        <h3 class="text-center mb-3">Join Game</h3>
                        <i class="fas fa-wallet fa-3x mb-3"></i>
                        <h3 class="walletBalance">----</h3>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="betAmount">Bet Amount</label>
                                    <h3><p class="coinAmount">----</p></h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="feeSelector">Network Fee</label>
                                    <div id="feeSelectorContainerJoin"></div>
                                    <input type="number" class="form-control" id="feeSpendbundleJoin" value="0" min="0.000000000001" step="0.000000000001" style="display: none;">
                                </div>
                            </div>
                            <div class="mt-2" id="balanceValidationMessage"></div>
                        </div>
                        
                        <div class="form-group mb-3">
                            <label style="text-align: center;width: 100%;">Your Selection:</label>
                            <div class="rps-selection">
                                <div class="rps-option" onclick="selectOption(1, this)" id="rock-option" data-value="1">
                                    <span class="rps-icon">🪨</span>
                                    <span class="rps-label">Rock</span>
                                </div>
                                <div class="rps-option" onclick="selectOption(2, this)" id="paper-option" data-value="2">
                                    <span class="rps-icon">📄</span>
                                    <span class="rps-label">Paper</span>
                                </div>
                                <div class="rps-option" onclick="selectOption(3, this)" id="scissors-option" data-value="3">
                                    <span class="rps-icon">✂️</span>
                                    <span class="rps-label">Scissors</span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg w-100" onclick="joinPlayer2()">
                            <i class="fas fa-play-circle"></i> Join Game
                        </button>
                    </div>
                    
                    <div id="RevealGameContainer" style="text-align: center; border-style: solid; padding: 10px; display: none;">
                        <h3 class="text-center mb-3">Reveal your selection</h3>
                        <div class="form-group mb-3" id="jsonFileContainer" style="display: none;">
                            <label for="jsonFile">Select your JSON file:</label>
                            <div class="d-flex align-items-center justify-content-center">
                                <span id="jsonFileName" class="truncate wallet-address" title="Click to copy" style="font-size: 10px;">----</span>
                                <i class="fas fa-copy copy-icon" onclick="Utils.copyToClipboard('#jsonFileName')"></i>
                            </div>
                            <input type="file" class="form-control" id="jsonFile" accept=".json" onchange="handleFileUploadReveal(event)">
                        </div>
                        <div class="form-group mb-3">
                            <label style="text-align: center;width: 100%;">Your Selection:</label>
                            <div class="rps-selection">
                                <div class="rps-option-reveal" onclick="selectOptionReveal(1, this)" id="rock-option-reveal" data-value="1">
                                    <span class="rps-icon">🪨</span>
                                    <span class="rps-label">Rock</span>
                                </div>
                                <div class="rps-option-reveal" onclick="selectOptionReveal(2, this)" id="paper-option-reveal" data-value="2">
                                    <span class="rps-icon">📄</span>
                                    <span class="rps-label">Paper</span>
                                </div>
                                <div class="rps-option-reveal" onclick="selectOptionReveal(3, this)" id="scissors-option-reveal" data-value="3">
                                    <span class="rps-icon">✂️</span>
                                    <span class="rps-label">Scissors</span>
                                </div>
                            </div>
                            <input type="hidden" id="selectedOptionReveal" name="selectedOptionReveal">
                        </div>
                        <div class="form-group mb-3">
                            <label for="secretKey">Secret Key:</label>
                            <input type="text" class="form-control" id="keyRPS" placeholder="Enter your secret key">
                        </div>
                        <div class="form-group mb-3">
                        <h5 class="text-center mb-3" id="selectionRPSHashReveal"></h5>
                        </div>
                        <button class="btn btn-primary btn-lg w-100" onclick="revealSelectionPlayer1()">
                            <i class="fas fa-play-circle"></i> Reveal
                        </button>
                    </div>
                    <div class="form-group" style="position: relative;">
                        <h5 style="text-align: center;">Pending Transactions</h5>
                        <div class="row" id="pendingTransactions">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="game-info">
                        <p style="text-align: center;">Game Puzzle Reveal:</p>
                        <p>
                            <textarea style="min-height: 200px;" id="gamePuzzleReveal" class="form-control">----</textarea>
                        </p>
                        <p style="text-align: center;">Game Puzzle Reveal Disassembled:</p>
                        <p>
                            <textarea style="min-height: 200px;" id="gamePuzzleRevealDisassembled" class="form-control">----</textarea>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="/static/js/libs/qrcode.min.js"></script>
    <script src="/static/js/libs/greenweb.js"></script>
    <script src="/static/js/Goby.js"></script>
    <script src="/static/js/libs/mdb.umd.min.js"></script>
    <script src="https://unpkg.com/@walletconnect/sign-client@2.10.6/dist/index.umd.js"></script>
    <script src="https://unpkg.com/@walletconnect/types@2.0.0-beta.55/dist/umd/index.min.js"></script>
    <script src="https://unpkg.com/@walletconnect/utils@2.0.0-beta.55/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/static/js/Utils.js"></script>
    <script src="/static/js/ModalGeneric.js"></script>
    <script src="/static/js/ModalGobyWallet.js"></script>
    <script src="/static/js/Session.js"></script>
    <script src="/static/js/FeeSelector.js"></script>
    <script src="/static/js/gameDetails.js"></script>
</body>

</html>